.footer {
    grid-area: footer;
    background: $fondoRosado;
    background: linear-gradient(180deg, rgba(255, 178, 194, 1) 0%, rgba(121, 17, 39, 1) 100%);
    width: 100%;
    text-align: center;
    padding: .5rem 2rem;
    font-size: 9px;
  
        
   
    }
 
  
    
  
