    .header {
        grid-area: header;
        @include estilosHeader($fondoRosado);

        .logo-header {
            img { 
                width: $widthLogo / 2;
            }

            &:hover {
                transform: rotate(340deg);
            }
        }
        .navbar-expand-lg .navbar-collapse {
            justify-content: flex-end;
        }


        .nav-item a {
            color: $textoVino;
            font-size: 17px;
            font-weight: bolder;

            &:hover {
                color: $textoRosado;
            }
           
        }

    }
