* {
    margin: 0;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 22vh auto auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    background-color: #FFB2C2;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

/*keyframes */

@keyframes cintillo {
    0% {
        color: white;

    }

    25% {
        color: #FFB2C2;
    }

    50% {
        color: white;

    }

    75% {
        color: #FFB2C2;

    }

    100% {
        color: white;

    }
}

@keyframes whatsapp {
    0% {
        color: rgb(27, 11, 99);

    }

    25% {
        color: #420512;
    }

    50% {
        color: white;

    }

    75% {
        color: #FFB2C2;

    }

    100% {
        color: white;

    }
}

.whatsapp img {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    z-index: 100;
    &:hover {
        background-color: #0ec21a;
        transition: 1.25s;
    }
}

